<% if logged_in? %>
  <% provide(:title, "Course activities") %>
  <% if !@activities.nil? %>
    <% provide :title, "Course activities" %>
    <h1>Activities</h1>   
    <ul class="users">
      <%= render @activities %>
    </ul>   
  <% end %>
<% else %>
  <% provide(:title, "Welcome") %>
  <div class="center jumbotron">
    <h1>Framgia Training Management System</h1>
    <h2>
      This is the project
      <a href="https://tms16.herokuapp.com/">TMS_16</a>
      develop by team 7: Le Minh Tuan, Nguyen Thi Kim Chi.
    </h2>
  </div>
<% end %>